@charset "UTF-8"; /* Através desse @ criamos uma regra para a estilização em CSS, no caso, foi feito a criação da regra para a utilização de caracteres em UTF-8, permitindo o acesso em acentos e ç */
/* Aqui estaremos registrando as formas de estilização do site */
body{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 20px;
    background-color: lightskyblue;
} 
h1{ 
    color: maroon; 
    background-color: goldenrod;
}
h2{
    color: darkred;
    text-decoration: underline;
}
p{
    text-align: justify; 
    font-size: 0.7em; 
}